.container_login{
    padding: 50px 500px;
}

.container_register{
    display: none;
    padding: 100px 500px;
    
}

.card-footer button{
    border-color: transparent;
    background-color: transparent;
    color: blue;
    text-decoration: underline;
}

#regConsumer, #regProvider{
    display: flex;
    flex-direction: column;
}